:root {
    --lightDark: rgb(36, 36, 36);
    --font-Roboto: 'Roboto', sans-serif;
    --blue: rgb(24, 158, 255);
    --lightGrey: #f4f4f4;
    --textGrey: #d8d8d8;
    --lightDark-1: #f5f4f5;
    --lightWhite: #ffffff;
    --lightBlue: rgb(24, 158, 255);
    --Gray: #b1b1b2;
    --BlueMenu: #189eff;
}