.Container__productslide{
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;

    .heading__danger{
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid rgb(244, 244, 244);

        img{
            height: 28px;
        }
    }

    .tikideal__body{
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
        

        .col-5{
            width: 20%;
            box-sizing: border-box;
            padding: 16px;
            text-decoration: none;
            background-color: #fff;

            &:hover{
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
            z-index: 1;
            }

           &__picture{
                overflow: hidden;
                width: 100%;
                margin-bottom: 12px;
                text-align: center;

                img{
                    width: 100%;
                    opacity: 1;
                }
           }

            .title{
                position: relative;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                max-height: 40px;
                margin: 0px;
                width: 100%;
                color: rgb(36, 36, 36);
                font-size: 13px;
                font-weight: 300;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.54;
                letter-spacing: 0.1px;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
                text-decoration: none;
                font-family: var(--font-Roboto);
            }

            .price{
                font-size: 16px;
                color: black;
                font-weight: 700;
                font-family: var(--font-Roboto);
                margin-top: 10px;
                text-align: left;

                &__orginial{
                    font-weight: 300;
                    font-size: 13px;
                    color: rgb(120, 120, 120);
                    text-decoration: line-through;
                }
            }
        }
    }

}


.product__description{
    .group{
        margin-bottom: 40px;
        .content{
            max-width: 920px;
            padding: 20px;
            color: rgb(36, 36, 36);
            line-height: 21px;
            text-align: justify;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;

            .has-table{
                padding: 10px 20px;
            }

            table{
                max-width: 100%;
                border-collapse: collapse;
                border-spacing: 0px;
                width: 100% !important;

                tr{
                    font-size: 13px;
                    font-family: var(--font-Roboto);
        
                    td{
                        padding: 10px 15px;

                        &:first-child{
                            width: 220px;
                            vertical-align: top;
                            color: rgb(79, 79, 79);
                            font-size: 13px;
                            font-weight: 500;
                            background: rgb(239, 239, 239);
                            font-weight: 700;
                        }

                        &:last-child{
                            flex: 1 1 0%;
                            border-right: 0px;
                        }
                    }
                }
            }
        }
    }
}