.menu-wrapper{
    display: flex;
    align-items: center;
    position: relative;

    &__box{
        display: flex;
        align-items: center;
        margin-right: 50px;
        cursor: pointer;
        position: relative;

        img{
            width: 30px;
            margin-right: 12px;
        }

        i{
            font-size: 25px;
            color: white;
            margin-right: 12px;
          
        }

        h4{
           font-family: var(--font-Roboto);
           color: white;
           font-weight: 400;
           font-size: 13px;
        }

        h5{
            font-family: var(--font-Roboto);
            color: white;
            font-weight: 300;
            font-size: 12px;
        }

        .i-down{
            font-size: 12px;
        }
    }

    .content__view{
        position: absolute;
        top: 45px;
        width: 100%;
        background: var(--lightWhite);
        z-index: 15;
        height: 148px;
        display: flex;
        align-items: center;
        align-self: stretch;
        display: none;
        a {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            max-width: 123px;
            padding: 0px 15px;

            .recently__icon{
                width: 91px;
                height: 91px;
            }
        }

    }
}

.recently__viewed{
    position: fixed;
    width: 100%;
    height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 190px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 14;
    display: none;
}

.menu_wrapper__rencently:hover .content__view,
.menu_wrapper__rencently:hover .recently__viewed{
    display: block;
}