.navigation__bar{
    border: 1px solid var(--lightGrey);
    border-radius: 6px;
    width: 313px;
    // display: inline-block;
    .nav-bar{

        &__li{
            position: relative;
            list-style: none;
            padding: 0px;
            background-color: rgb(255, 255, 255);
            border-left: 1px solid rgb(225, 225, 225);
            border-right: 1px solid rgb(225, 225, 225);
            height: calc(36.5px);
            display: flex;
            align-items: center;
            text-align: left;

            &:hover .menu-area{
                display: flex;
            }
           

            &--a {
                width: 100%;
                text-decoration: none;
                font-family: var(--font-Roboto);
                font-size: 13px;
                color: black;
                display: flex;
                padding: 10px;

                &:hover{
                    background-color: var(--BlueMenu);
                    color: white;
                    display: flex;
                }

                
                i {
                    margin-right: 7px;
                    color: var(--Gray);
                    font-size: 15px;
                    text-align: center;
                    width: 39px;
                }
            }
        }
        
    }
}

.slide__container{
    position: relative;
    overflow: hidden;
    width: 584px;

    &--myslides{
        display: none;
        transition: 1s;
        img{
            width: 100%;
        }
    }
    .group-dot{
        position: absolute;
        bottom: 0px;
        left: 45%;
        transform: translate(0px, -45%);

        .dot{
            cursor: pointer;
            height: 10px;
            width: 10px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
    }

   .prev{
       position: absolute;
       top: 50%;
       left: 10px;
   }

   .next{
       position: absolute;
       top: 50%;
       right: 10px;
       
   }
}

.active, .dot:hover {
    background-color: #717171;
}


.banner__container{
    display: flex;
    justify-content: space-between;

    .banner__advertise{
        width: 292px;
    
        img{
            width: 100%;
        }
    }
    
}


.box__3{
    width: 486px;
    display: inline-block;

    
}


.menu-area{
    width: 998px;
    height: 548px;
    position: absolute;
    top: 0px;
    z-index: 10;
    left: 268px;
    background: #fff;
    display: flex;
    box-sizing: border-box;
    display: none;


    ul{
     
        padding: 25px;

    }

    h4{
        font-size: 13px;
        font-family: var(--font-Roboto);
        line-height: 25px;
    }

    li{
        list-style: none;
        line-height: 25px;

        a{
            text-decoration: none;
            font-family: var(--font-Roboto);
            font-size: 13px;
            color: black;

            &:hover{
                color: var(--BlueMenu);
            }
        }
    }

}
