.slide__wrapper{
    width: 100%;
    display:  flex;
    justify-content: space-between;
    position: relative;



  &--product{
    width: 197px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

    .group__list{
      overflow: hidden;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
    a{
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: inline-block;
      text-decoration: none;

        p{
          margin: 12px 0px 0px;
          color: rgb(68, 68, 68);
          font-family: var(--font-Roboto);
          font-size: 13px;
        }

        
        img{
          width: 96px;
          height: 96px;
      }
    }
  }

}

.group__icon{
  &--prev{
    position: absolute;
    top: 50%;
    left: 0;
    outline: none;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding-right: 2px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 16px;
  }

  &--next{
    position: absolute;
    top: 50%;
    right: 0;
    outline: none;
    border: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding-right: 2px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 16px;

    
  }
}