.btn{
    position: relative;
    width: 8px;
    height: 8px;
    background-color: white;
    color: black;
    padding: 14px;
    border-radius: 50%;

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}